@inject NavigationManager _navigationManager;

@if (Notices != null && Notices.Count > 0)
{
    <ul>
        @foreach (var notice in Notices)
        {
            <li class="m-1">
                <div class="btn text-left">
                    <a @onclick="(() => ViewNotice(notice))">
                        <small class="text-muted font-weight-bold">@notice.EventDate</small>
                        <h5 class=" mt-0 mb-0">@notice.Title</h5>
                        <p class="mt-1 mb-0 text-wrap">@notice.Message</p>
                        <div class="mt-2">
                            @if (notice.PostType == PostType.All)
                            {
                                <span class="badge badge-success">@notice.PostType</span>
                            }
                            else if(notice.PostType == PostType.Examination)
                            {
                                <span class="badge badge-danger">@notice.PostType</span>
                            }
                            else
                            {
                            <span class="badge badge-info">@notice.PostType</span>
                            }
                        </div>
                    </a>

                    @if (notice.DBFiles != null && notice.DBFiles.Count > 0)
                    {
                        <span>
                            @foreach (var file in notice.DBFiles)
                            {
                                <a href="/api/files/index?id=@file.Id">@file.FileName</a>
                            }
                        </span>
                    }
                </div>
            </li>
        }
    </ul>
}
else
{
    <h5 class="text-center">No Notices</h5>
}
@code {
    [Parameter]
    public List<Notice> Notices { get; set; }

    private void ViewNotice(Notice notice)
    {
        _navigationManager.NavigateTo("/common/notice_details/" + notice.Id);
    }
}
